html, body {
  padding: 0;
  margin: 0;
  background: #f2f2f2;
  height: 100%; }
  html #app, body #app {
    height: 100%; }
    html #app > div, body #app > div {
      height: 100%; }
      html #app > div .iframe-container, body #app > div .iframe-container {
        height: 99.8%;
        padding-top: 50px; }

.page-wrapper {
  padding-top: 50px; }

.fl {
  float: left;
  display: block; }

.fr {
  float: right;
  display: block; }

.cb {
  clear: both; }

iframe {
  width: 100%;
  border: 0;
  height: inherit; }

.map {
  height: 500px; }

.leaflet-container {
  height: 500px;
  width: 100%;
  overflow: hidden; }

.header {
  background: #272634;
  color: #858598;
  padding: 30px 0; }
  .header a:hover {
    color: #C9C7EF; }
  .header .btn-success {
    float: right;
    min-width: 200px; }
  .header .rc-slider {
    margin-top: 10px; }

.result-container {
  width: 100%; }
  .result-container .count {
    margin-top: 20px;
    text-align: right;
    font-weight: normal;
    padding-bottom: 10px; }
    .result-container .count em {
      font-weight: bold;
      color: #F44336;
      font-style: normal; }
  .result-container .search-result {
    width: 100%;
    background: #ffffff; }
    .result-container .search-result .search-th {
      font-size: 16px;
      padding: 10px;
      background: #fafafa;
      font-weight: bold; }
    .result-container .search-result ul.list {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .result-container .search-result ul.list li.routes {
        display: block;
        border-bottom: 1px solid #e0e0e0; }
    .result-container .search-result span.td {
      width: 12.5%;
      display: inline-block;
      vertical-align: middle; }
      .result-container .search-result span.td.sport, .result-container .search-result span.td.dport {
        width: 30%; }
      .result-container .search-result span.td.depth, .result-container .search-result span.td.term {
        width: 8%; }
      .result-container .search-result span.td.cost {
        width: 14%;
        padding-right: 2%; }
        .result-container .search-result span.td.cost .progress {
          margin-bottom: 0; }
      .result-container .search-result span.td.map-btn {
        width: 10%;
        text-align: center; }
    .result-container .search-result .result-contents {
      padding: 10px; }

.cost-box {
  margin: 100px auto;
  float: none; }
  .cost-box .well {
    background: #ffffff; }

.menu {
  background: #1E1E29;
  margin: 0;
  border-radius: 0;
  border: 0; }
  .menu .navbar-brand {
    color: #ffffff; }
    .menu .navbar-brand:hover {
      color: #C9C7EF; }
  .menu .navbar-nav li {
    font-size: 13px; }
    .menu .navbar-nav li i {
      margin-right: 5px; }

.tables {
  width: 100%;
  display: block; }
  .tables .add {
    margin-top: 20px; }
  .tables hr {
    margin: 10px 0; }
  .tables .btn-primary {
    margin-right: 3px; }
  .tables .th {
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    padding: 10px;
    background: #fcfcfc; }
  .tables .tbody {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    background: #ffffff;
    font-size: 12px; }
  .tables .th, .tables .tbody {
    text-align: center; }
    .tables .th div, .tables .tbody div {
      display: inline-block;
      width: 8%;
      vertical-align: middle; }
      .tables .th div.sm-td, .tables .tbody div.sm-td {
        width: 4%; }
      .tables .th div.md-td, .tables .tbody div.md-td {
        width: 9%; }
      .tables .th div.lg-td, .tables .tbody div.lg-td {
        width: 15%; }
      .tables .th div.btns, .tables .tbody div.btns {
        width: 10%; }
      .tables .th div.port-td, .tables .tbody div.port-td {
        width: 14.28%; }

.detail-modal .check-boxes .form-group {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px; }
.detail-modal hr {
  margin: 0 0 10px 0; }

.route-detail {
  width: 100%;
  position: relative;
  overflow: hidden;
  overflow-x: auto; }
  .route-detail .route-box {
    position: relative;
    top: 0;
    left: 0;
    height: 100px; }
    .route-detail .route-box table {
      height: 100px;
      min-width: 100%;
      max-width: none; }
      .route-detail .route-box table td {
        width: 10%;
        border-right: 1px solid #ccc;
        padding: 0; }
  .route-detail .route-contents {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%; }
  .route-detail ul {
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 100%;
    font-size: 10px; }
  .route-detail .port-list {
    position: absolute; }
    .route-detail .port-list li {
      position: absolute;
      width: 10%;
      height: 60px;
      background: #f5f5f5;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc; }
      .route-detail .port-list li.AIRPORT {
        width: 10%;
        background: #2196F3;
        border: 1px solid #1489e6;
        color: #ffffff; }
      .route-detail .port-list li.SEAPORT {
        width: 10%;
        background: #3F51B5;
        border: 1px solid #3244a8;
        color: #ffffff; }

/*sass --watch ./src/admin/styles/admin.scss:./public/styles/admin.css*/

/*# sourceMappingURL=admin.css.map */
