html, body {
  padding: 0;
  margin: 0;
  background: #f2f2f2;
  height: 100%; }
  html #app, body #app {
    height: 100%; }
    html #app > div, body #app > div {
      height: 100%; }
      html #app > div > div, body #app > div > div {
        height: 100%; }
      html #app > div .iframe-container, body #app > div .iframe-container {
        height: 99.8%;
        padding-top: 50px;
        background: #ffffff; }

.page-wrapper {
  padding-top: 50px; }

.fl {
  float: left;
  display: block; }

.fr {
  float: right;
  display: block; }

.cb {
  clear: both; }

iframe {
  width: 100%;
  border: 0;
  height: inherit; }

.map {
  height: 500px; }

.leaflet-container {
  height: 500px;
  width: 100%;
  overflow: hidden; }

.header {
  background: #272634;
  color: #858598;
  padding: 30px 0; }
  .header.user {
    padding: 80px 0 30px 0; }
  .header a:hover {
    color: #C9C7EF; }
  .header .btn-success {
    float: right;
    min-width: 200px; }
  .header .rc-slider {
    margin-top: 10px; }

.result-container {
  width: 100%; }
  .result-container .count {
    margin-top: 20px;
    text-align: right;
    font-weight: normal;
    padding-bottom: 10px; }
    .result-container .count em {
      font-weight: bold;
      color: #F44336;
      font-style: normal; }
  .result-container .search-result {
    width: 100%;
    position: relative; }
    .result-container .search-result .route-box {
      position: relative;
      padding-bottom: 50px; }
    .result-container .search-result .start-end {
      height: 70px; }
      .result-container .search-result .start-end .start .AIRPORT, .result-container .search-result .start-end .start .SEAPORT, .result-container .search-result .start-end .end .AIRPORT, .result-container .search-result .start-end .end .SEAPORT {
        display: block;
        width: 130px;
        height: 50px;
        padding: 10px;
        color: #ffffff;
        font-size: 11px;
        text-align: center;
        border-radius: 10px;
        position: relative; }
        .result-container .search-result .start-end .start .AIRPORT::before, .result-container .search-result .start-end .start .SEAPORT::before, .result-container .search-result .start-end .end .AIRPORT::before, .result-container .search-result .start-end .end .SEAPORT::before {
          position: absolute;
          left: 60px;
          top: 50px;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 5px 0 5px; }
      .result-container .search-result .start-end .start .AIRPORT, .result-container .search-result .start-end .end .AIRPORT {
        background: #2196F3; }
        .result-container .search-result .start-end .start .AIRPORT::before, .result-container .search-result .start-end .end .AIRPORT::before {
          border-color: #2196F3 transparent transparent transparent; }
      .result-container .search-result .start-end .start .SEAPORT, .result-container .search-result .start-end .end .SEAPORT {
        background: #3f51b5; }
        .result-container .search-result .start-end .start .SEAPORT::before, .result-container .search-result .start-end .end .SEAPORT::before {
          border-color: #3f51b5 transparent transparent transparent; }
      .result-container .search-result .start-end .start {
        float: left; }
      .result-container .search-result .start-end .end {
        float: right;
        margin-right: 4.5%; }

.cost-box .well {
  background: #ffffff; }
.cost-box .btn-primary {
  float: right; }

.menu {
  background: #1E1E29;
  margin: 0;
  border-radius: 0;
  border: 0; }
  .menu .navbar-brand {
    color: #ffffff; }
    .menu .navbar-brand:hover {
      color: #C9C7EF; }
  .menu .navbar-nav li {
    font-size: 13px; }
    .menu .navbar-nav li i {
      margin-right: 5px; }

.tables {
  width: 100%;
  display: block; }
  .tables .add {
    margin-top: 20px; }
  .tables .find-transport {
    padding-top: 20px; }
    .tables .find-transport label, .tables .find-transport input, .tables .find-transport button, .tables .find-transport .select-box {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px; }
    .tables .find-transport .form-group {
      margin-bottom: 0; }
    .tables .find-transport .select-box {
      min-width: 200px; }
      .tables .find-transport .select-box .Select {
        display: block;
        min-width: 200px; }
  .tables hr {
    margin: 10px 0; }
  .tables .btn-primary {
    margin-right: 3px; }
  .tables .th {
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    padding: 10px;
    background: #fcfcfc; }
  .tables .tbody {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    background: #ffffff;
    font-size: 12px; }
  .tables .th, .tables .tbody {
    text-align: center; }
    .tables .th div, .tables .tbody div {
      display: inline-block;
      width: 8%;
      vertical-align: middle; }
      .tables .th div.sm-td, .tables .tbody div.sm-td {
        width: 4%; }
      .tables .th div.md-td, .tables .tbody div.md-td {
        width: 9%; }
      .tables .th div.lg-td, .tables .tbody div.lg-td {
        width: 15%; }
      .tables .th div.btns, .tables .tbody div.btns {
        width: 10%; }
      .tables .th div.port-td, .tables .tbody div.port-td {
        width: 14.28%; }

.detail-modal .check-boxes .form-group {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px; }
.detail-modal hr {
  margin: 0 0 10px 0; }

.route-detail {
  width: 100%;
  position: relative;
  display: block;
  clear: both; }
  .route-detail:nth-of-type(2n+2) table {
    background: #fbfbfb; }
  .route-detail:last-child table {
    border-bottom: 1px solid #ddd; }
  .route-detail table {
    position: relative;
    width: 90%;
    height: 100px;
    background: #ffffff;
    margin-bottom: 0; }
    .route-detail table tr {
      border-left: 1px solid #ccc; }
    .route-detail table td {
      border-right: 1px solid #ccc;
      padding: 0;
      max-width: 60px; }
      .route-detail table td:first-child {
        width: 89px; }
  .route-detail .for-scroll {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 90%;
    height: 100px;
    display: block; }
    .route-detail .for-scroll:hover {
      overflow-x: auto;
      overflow-y: hidden; }
  .route-detail ul.port-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
    position: absolute;
    left: 30px;
    top: 40px;
    overflow-x: visible; }
    .route-detail ul.port-list li {
      padding: 5px;
      display: block;
      float: left;
      position: relative;
      width: 60px;
      height: 40px;
      line-height: 12px;
      font-weight: bold;
      background: rgba(238, 238, 238, 0.6);
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      overflow-wrap: break-word; }
      .route-detail ul.port-list li.AIRPORT {
        width: 60px;
        background: #2196F3;
        border: 1px solid #1489e6;
        color: #ffffff; }
      .route-detail ul.port-list li.SEAPORT {
        width: 60px;
        background: #3F51B5;
        border: 1px solid #3244a8;
        color: #ffffff; }
      .route-detail ul.port-list li .trans-date {
        position: absolute;
        border-left: 1px solid #000;
        top: -20px;
        left: 0;
        padding-left: 5px;
        height: 59px;
        width: 65px; }
  .route-detail .route-info {
    position: absolute;
    right: 0;
    top: 4px;
    width: 10%;
    padding: 10px;
    height: 94px;
    font-size: 12px;
    background: #ffffff;
    border-radius: 0 3px 3px 0; }
    .route-detail .route-info .progress {
      height: 15px;
      margin-bottom: 10px; }

.port-selector .col-sm-4 {
  padding-right: 0;
  /* Landscape phones and down */ }
  @media (max-width: 767px) {
    .port-selector .col-sm-4 {
      padding-right: 15px; } }

/*sass --watch ./src/admin/styles/admin.scss:./public/styles/admin.css*/

/*# sourceMappingURL=admin.css.map */
