.menu {
  h3 {
    margin:0;
    padding:20px 10px;
    background: rgba(0,0,0,.22);
    a {
        color:#ffffff;
        text-decoration: none;
    }

    i {
      width: 30px;
      display: inline-block;
      text-align: center;
    }
    span {
      display: inline-block;
    }
  }
  ul {
    li {
      display: block;
      a {
        font-size: 0.9em;
        display: block;
        padding:15px 10px;
        border-bottom: 1px solid rgba(255,255,255,0.08);

        i {
          width: 25px;
          display: inline-block;
          text-align: center;
        }
        span {
          display: inline-block;
        }
      }
    }
  }
}
