.menu {
  background:#1E1E29;
  margin:0;
  border-radius: 0;
  border:0;
  .navbar-brand {
    color:#ffffff;

    &:hover {
      color:#C9C7EF;
    }
  }

  .navbar-nav {
    li {
      font-size: 13px;
      i {
        margin-right:5px;
      }
    }
  }
}
