.header {
  background:#272634;
  color:#858598;
  padding: 30px 0;

  a {
    &:hover {
      color:#C9C7EF;
    }
  }

  .btn-success {
    float: right;
    min-width: 200px;
  }

  .rc-slider{
    margin-top:10px;
  }
}


.result-container {
  width:100%;
  .count {
    margin-top:20px;
    text-align: right;
    font-weight: normal;
    padding-bottom: 10px;

    em {
      font-weight: bold;
      color:#F44336;
      font-style: normal;
    }
  }

  .search-result {
    width:100%;
    background: #ffffff;

    .search-th {
        font-size:16px;
        padding: 10px;
        background: #fafafa;
        font-weight: bold;
    }

    ul {
      list-style-type: none;
      margin:0;
      padding:0;
       li {
         display: block;
         border-bottom: 1px solid #e0e0e0;
       }
    }

    span.td {
      width:12.5%;
      display: inline-block;
      vertical-align: middle;

      &.sport, &.dport {
        width:30%;
      }

      &.depth, &.term {
        width: 8%;
      }

      &.cost {
        width:14%;
        padding-right: 2%;
        .progress {
          margin-bottom: 0;
        }
      }
      &.map-btn {
        width:10%;
        text-align: center;
      }
    }

    .result-contents {
      padding:10px;
    }
  }
}

.map {
  height: 500px;
}

.leaflet-container {
  height:500px;
  width:100%;
}
