.header {
  background:#272634;
  color:#858598;
  padding: 30px 0;

  &.user {
    padding:80px 0 30px 0;
  }

  a {
    &:hover {
      color:#C9C7EF;
    }
  }

  .btn-success {
    float: right;
    min-width: 200px;
  }

  .rc-slider{
    margin-top:10px;
  }
}


.result-container {
  width:100%;

  .order-by {
    margin-top:15px;
      float: left;
      label, .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
      }
      label {
        margin-right:5px;
      }
  }
  .count {
    float: right;
    margin-top:25px;
    text-align: right;
    font-weight: normal;
    padding-bottom: 10px;

    em {
      font-weight: bold;
      color:#F44336;
      font-style: normal;
    }
  }

  hr {
    border-top: 2px solid #ccc;
    margin-bottom: 15px;
  }

  .no-result {
    font-size: 18px;
    text-align: center;
    padding-top:20px;
  }

  .search-result {
    width:100%;
    position: relative;
    clear: both;

    .route-box {
      position: relative;
      padding-bottom: 50px;
    }

    .air-start-end {
      height: 40px;
      border-top: 2px solid #333;
      border-bottom: 1px solid #ccc;
      background: #fff;
      font-size: 15px;
      font-weight: bold;
      line-height: 37px;
      margin-bottom: 10px;

      .circle {
        background: #e8eff7;
        float: left;
        width:16%;
        height:37px;
        text-align: center;
      }

      .start {
        float: left;
        width:24%;
        text-align: center;;
      }

      .mid-line {
        float: left;
        width: 36%;
        height:19px;
        border-bottom:1px solid #333;
        display: block;
      }

      .end {
        float: left;
        width:24%;
        text-align: center;
      }
    }

    .loading {
      clear: both;
      padding-top:20px;
      text-align: center;

      .progress {
        height: 10px;
      }
    }

    .start-end {
      height:60px;

      .start, .end {
        .AIRPORT, .SEAPORT {
          display: block;
          width: 150px;
          height: 41px;
          padding: 5px;
          color: #ffffff;
          font-size: 11px;
          text-align: center;
          border-radius: 5px;
          position: relative;

          &::before {
            position: absolute;
            left:70px;
            top:40px;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 5px 0 5px;
          }
        }

        .AIRPORT {
          background: #2196F3;
          &::before {
            border-color: #2196F3 transparent transparent transparent;
          }
        }

        .SEAPORT {
          background: #3f51b5;
          &::before {
            border-color: #3f51b5 transparent transparent transparent;
          }
        }
      }

      .start {
        float: left;
      }

      .end {
        float: right;
        margin-right:3.5%;
      }
    }


  }
}
