.tables {
  width: 100%;
  display: block;

  .add {
      margin-top:20px;
  }

  hr {
    margin:10px 0;
  }

  .btn-primary {
    margin-right:3px;
  }
  .th {
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    padding:10px;
    background: #fcfcfc;
  }
  .tbody {
    border-bottom: 1px solid #e0e0e0;
    padding:10px;
    background: #ffffff;
    font-size: 12px;
  }
  .th, .tbody {
    text-align: center;
    div {
      display: inline-block;
      width:8%;
      vertical-align: middle;

      &.sm-td {
        width:4%;
      }

      &.md-td {
        width:9%;
      }

      &.lg-td {
        width: 15%;
      }

      &.btns {
        width:10%;
      }

      &.port-td {
        width:14.28%;
      }
    }
  }
}
