.tables {
  width: 100%;
  display: block;

  .add {
      margin-top:20px;
  }

  .find-transport {
    padding-top: 20px;
    label, input, button, .select-box {
      display: inline-block;
      vertical-align: middle;
      margin-right:5px;
    }

    .form-group {
      margin-bottom: 0;
    }

    .select-box {
      min-width: 200px;
      .Select {
        display: block;
        min-width: 200px;
      }
    }

  }

  hr {
    margin:10px 0;
  }

  .btn-primary {
    margin-right:3px;
  }
  .th {
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    padding:10px;
    background: #fcfcfc;
  }
  .tbody {
    border-bottom: 1px solid #e0e0e0;
    padding:10px;
    background: #ffffff;
    font-size: 12px;
  }
  .th, .tbody {
    text-align: center;

    &.air {
      font-size: 13px;
    }

    div {
      display: inline-block;
      vertical-align: middle;

      &.sm-td {
        width:4%;
      }

      &.td {
        width:7%;
      }

      &.md-td {
        width:9%;
      }

      &.lg-td {
        width: 15%;
      }

      &.btns {
        width:10%;
      }

      &.port-td {
        width:16.66%;
      }

      &.air-td {
        width:20%;
        div {
          display: block;
        }
      }
    }
  }

  .map {
    display: block;
    margin-top:10px;
    margin-bottom:10px;
    border:1px solid #ccc;
  }
}
